%p
  Welcome
  = session[:player]

%p This is the place where you decide how much money do you bet
%form{:action => "/start_game", method: 'post'}
  %p Bet:
  %input{:type => "text", name: "bet"}/
  %br/
  %input{:type => "submit", value: "Start", class: "btn"}/
