.forms
  %p Welcome to the Online Casino play.
  %p First will like to know your name that way we know how we are stealing
  %form{:action => "/new_game", method: "post"}
    %span Name:
    %input{:type => "text", name: "name"}/
    %br/
    %p Enter your image if you want your avatar from gravatar
    %span Email:
    %input{:type => "text",name: "email"}/
    %br/
    %input{:type => "submit", value: "Send", class: "btn"}/