.forms.start_game
  %p.left Welcome to the Online Casino play.
  %p.right First will like to know your name that way we know how we are stealing
  %form{:action => "/new_game", method: "post"}
    %span Name:
    %input{:type => "text", name: "name"}/
    %br/
    %input{:type => "submit", value: "SEND", class: "btn"}/
    %img{:src => "/images/chips/hearts.png", :alt => "", class: "hearts"}/
    %img{:src => "/images/chips/spades.png", :alt => "", class: "spades"}/
    %img{:src => "/images/chips/diamonds.png", :alt => "", class: "diamonds"}/
    %img{:src => "/images/chips/clubs.png", :alt => "", class: "clubs"}/
